# Application
PORT=3000
NODE_ENV=development

# Database Connection
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=shipment_db
DB_SCHEMA=shipment
DB_SYNCHRONIZE=false
DB_LOGGING=true
